In [ ]:
# Sales Data Analysis

This notebook analyzes sales data using the provided Invoices and Customers datasets. It answers easy, medium, and hard-level questions using data analysis and visualization techniques.

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

invoices = pd.read_csv("/Users/andresebastianramosalagadan/Downloads/fct_invoice.csv")
customers = pd.read_json("/Users/andresebastianramosalagadan/Downloads/dim_customer.json")

invoices.head(), customers.head()

(  invoice_no  customer_id  category  quantity    price payment_method  \
 0    I138884          229  Clothing         5  1500.40    Credit Card
 1    I317333         3433     Shoes         3  1800.51     Debit Card
 2    I127801          644  Clothing         1   300.08           Cash
 3    I173702         4900     Shoes         5  3000.85    Credit Card
 4    I337046         1089     Books         4    60.60           Cash

   invoice_date   shopping_mall
 0     5/8/2022          Kanyon
 1   12/12/2021  Forum Istanbul
 2    9/11/2021       Metrocity
 3   16/05/2021    Metropol AVM
 4   24/10/2021          Kanyon  ,
     age first_name gender  id last_name
 0  48.0   Nicholas      M   0    Flores
 1   NaN    Jeffery      M   1      Rowe
 2  57.0     Alexis      F   2    Benton
 3  73.0        Amy      F   3   Johnson
 4  20.0      David      M   4     Moore)

In [7]:
### Easy Q1: How many unique customers are in the dataset?

In [29]:
print(customers.columns)

Index(['age', 'first_name', 'gender', 'id', 'last_name'], dtype='object')

In [31]:
unique_customers = customers['id'].nunique()
print("Unique customers:", unique_customers)

Unique customers: 5191

In [33]:
### Easy Q2: Product categories and number of unique categories

In [35]:
categories = invoices['category'].unique()
num_categories = invoices['category'].nunique()
print("Categories:", categories)
print("Number of unique categories:", num_categories)

Categories: ['Clothing' 'Shoes' 'Books' 'Cosmetics' 'Food & Beverage' 'Toys'
 'Technology' 'Souvenir']
Number of unique categories: 8

In [37]:
### Easy Q3: Most popular payment method

In [39]:
payment_counts = invoices['payment_method'].value_counts()
most_used_method = payment_counts.idxmax()
most_used_count = payment_counts.max()
print("Most used payment method:", most_used_method)
print("Used", most_used_count, "times")

Most used payment method: Cash
Used 44447 times

In [41]:
### Medium Q1: Three most popular categories by total sales

In [45]:
invoices.columns

Index(['invoice_no', 'customer_id', 'category', 'quantity', 'price',
       'payment_method', 'invoice_date', 'shopping_mall'],
      dtype='object')

In [47]:
invoices['total'] = invoices['quantity'] * invoices['price']

In [49]:
top_categories = invoices.groupby('category')['total'].sum().sort_values(ascending=False).head(3)
top_categories

category
Clothing      1.139968e+08
Shoes         6.655345e+07
Technology    5.786235e+07
Name: total, dtype: float64

In [51]:

payment_counts = invoices['payment_method'].value_counts()


most_common_payment = payment_counts.idxmax()
most_common_payment_count = payment_counts.max()

payment_counts, most_common_payment, most_common_payment_count

(payment_method
 Cash           44447
 Credit Card    34931
 Debit Card     20079
 Name: count, dtype: int64,
 'Cash',
 44447)

In [53]:

merged_df = invoices.merge(customers, left_on='customer_id', right_on='id')


tech_buyers = merged_df[merged_df['category'] == 'Technology']


average_tech_age = tech_buyers['age'].mean()
average_tech_age

48.909121507909795

In [57]:
# Step 1: Merge invoices with customers to get age
merged_df = invoices.merge(customers, left_on='customer_id', right_on='id')

# Step 2: Calculate total sale per invoice row
merged_df['total'] = merged_df['price'] * merged_df['quantity']

# Step 3: Drop rows with missing age values
merged_df = merged_df.dropna(subset=['age'])

# Step 4: Create a new column for age range (decade)
merged_df['age_range'] = (
    (merged_df['age'] // 10 * 10).astype(int).astype(str) +
    '-' +
    ((merged_df['age'] // 10 * 10 + 9).astype(int).astype(str))
)

# Step 5: Create the pivot table
pivot_table = pd.pivot_table(
    merged_df,
    values='total',
    index='category',
    columns='age_range',
    aggfunc='sum',
    fill_value=0
)

pivot_table

age_range,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80-89
category,,,,,,,,
Books,12801.75,79461.75,84143.10,87203.40,74962.20,80476.80,54827.85,26664.00
Clothing,1927413.84,10250732.80,11354126.96,11215189.92,10321851.76,10660642.08,7769371.28,4493698.00
Cosmetics,109619.36,605915.32,723544.70,665034.96,587780.96,649990.76,419082.62,254531.60
Food & Beverage,13582.31,73491.96,87246.86,89553.29,72425.04,80976.09,55050.98,31332.93
Shoes,993281.35,5924878.24,7200839.66,7025590.02,5852857.84,5978893.54,4480269.05,2628744.60
Souvenir,12375.15,54943.32,64092.72,66391.80,54943.32,55025.43,38673.81,23718.06
Technology,1129800.00,5261550.00,6159300.00,5954550.00,4435200.00,5471550.00,3638250.00,1946700.00
Toys,60426.24,385100.80,420582.40,390906.88,345067.52,363955.20,273244.16,153932.80